// Place all the styles related to the youtubers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$breakpoints: (
  'sm': 'screen and (min-width: 576px)', //540が元
  'md': 'screen and (min-width: 720px)',
  'lg': 'screen and (min-width: 960px)',
  'xl': 'screen and (min-width: 1140px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

.box {
    background-color: rgb(241, 221, 195);
}

.banner-box {
    width: 100%;
    padding-top: 25%;
    padding-left: 0%;
    position: relative;
    img {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       object-fit: cover;
     }
}

.name-text{
    font-size: 1.5rem;
    @include mq(sm) {
        font-size: 1rem;
    };
}

.info-box {
   background-color: rgb(252, 236, 217);
   padding-left: 0px;
   padding-right: 0px;
}

.info-textbox {
    min-width: 0px;
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.detail {
    
}

.input_area{
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(114, 79, 36);
    padding: 10px;
    margin: 10px;
}

.fav-box {
    line-height: 2.3;
}

.fav-text {
    font-size: 1.2rem;
}