// Place all the styles related to the youtubers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
    background-color: rgb(241, 221, 195);
    height: 80px;
}

.banner-box {
    width: 100%;
    padding-top: 25%;
    padding-left: 0%;
    position: relative;
    img {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       object-fit: cover;
     }
}

.info-box {
    border-style: solid;
    border-color: bisque;
    border-left: bisque;
    border-right: bisque;
    border-top: bisque;
    border-width: 10px;
}

.detail {
    
}